/* [THUMBNAILS] */
img {
}
img:hover {
  cursor: pointer;
}

/* [LIGHTBOX] */
#lightbox {
  /* Optional - fixed on screen */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
    
    transform: rotate(90deg) translateX(226px) translateY(219px);
  /* Full sized */
  width: 100vh;
    height:100vw;
  /* Background image */
  background-repeat: no-repeat;
  background-size: contain; 
  background-position: center; 
    overflow-x:scroll;
  /* Hidden by default */
  visibility: hidden;
  opacity: 0;
  /* Animation magic */
  transition: all 0.3s;
}
#lightbox.show {
  visibility: visible;
  opacity: 1;
}
