html {
    margin:0;
    padding:0;
}
body {
    margin:0;
    padding:10px;
    width:100vw;
    height:auto;
    min-height:100vh;
    font-size:14px;
    overflow-x: hidden;
    padding-top:0;
    background-color:rgba(40,50,60,1);
}
.section-title {
    background-image:linear-gradient(to right, rgba(0,0,60,1), rgba(40,50,60,1));
    color:white;
    border:2px solid white;
}
.skill {
    text-align:center;
    width:90%;
    margin:0 auto;
    padding:5px;
    margin-top:5px;
    margin-bottom:5px;
    color:white;
    background-color:rgba(0,173,255,1);
    border:1px solid rgba(100,100,100,0.2);
    border-radius:4px;
}
.skillrow {
    background-color:rgba(40,50,60,1);
}
.container-fluid {
    margin:0;
    padding:0;
}
.col-md-3, .col-md-6 {
    margin:0;
    padding:0;
}
.panel-main {
    padding:0;
    margin:0 0 0 10px;
}
.navbar {
    width:100%;
    height:auto;
    border:1px solid rgba(100,100,100,1);
    font-size: 120%;
}
.navbar-left, .navbar-right {
    width:50%;
    margin:0;
    height:auto;
    padding-top:10px;
    padding-right:20px;
    
}
.nav {
    text-align:center;
    margin:0 auto;
    border:none;
}
.navbar ul {
    
    padding:10px;
}
.navbar ul li {
    display:inline;
    padding:10px;
}
.icon {
    display:inline-block;
    float:right;
    padding:10px;
}
.slideInText {
    margin-left:0;;
    animation-name:animateslideInText;
    animation-duration:10s;
}
@keyframes animateslideInText {
    0% {margin-left:700px;}
    100% {margin-left:-400px;}
}
.profile-picture {
    width:100px;
    height:99px;
    border-radius:50%;
    overflow:hidden;
    margin:0 auto;
    margin-top:20px;
}
.profile-text {
    margin:0 auto;
    width:100%;
    text-align:center;
}
.panel-main {
    border:1px solid rgba(100,100,100,0.8);
    padding:0 30px 0 30px;
    flex-wrap: wrap;
    word-wrap: break-word;
}
.btn-default {
    width:100%;
    margin-bottom:3px;
}


.hider {
	display:block;
}

.box {
    width:920px;height:300px;background-color:rgba(40,50,60,1); z-index:6000;position:relative;
}
.boxinside {
    height:300px;
    overflow:hidden;
    position:relative;
    margin-top:150px;;
    bottom:0;
    background-color:rgba(40,50,60,1);
}
.cell {
    height:100%;width:20px;background-color: rgba(40,50,60,1); float:left;position:absolute; bottom:0;
}

button {
    cursor:pointer;
}
a {
    cursor:pointer;
}
.page1-wrapper {
	width:100%;
    height:auto;
	min-height:600px;
	background-image:url("images/background.jpg");
	background-repeat: no-repeat;
	background-position:0% 0%;
	background-size: 100vw 100vh;
	background-attachment: scroll;
	color:rgb(255,255,255);
	text-align: center;
}

.page2-wrapper {
	width:100%;
/*
	background-image:url(images/newback.jpg);
	background-repeat: repeat-y;
	background-position:0% 0%;
	background-size: 100% 500px;
	;
	background-attachment: scroll;
*/
	color:rgb(0,0,0);
	text-align: center;
}
.page3-wrapper {
	width:100%;
	background-image:url("images/backgroundg.jpg");
	background-repeat: repeat-y;
	background-position:0% 0%;
	background-size: 100% 500px;
	background-attachment: scroll;
	text-align: center;
}

#pricing2 {
    display:none;
}
.step {
    margin:10px;
    width:98%;
    padding:20px;
    border:1px solid rgba(0,0,0,0.2);
    BORDER-RADIUS:10PX;
    box-sizing: border-box;
}
.pricing-box {
    margin:10px;
    width:98%;
    height:auto;
    background-color:white;
}
.add {
    width:90%;
    margin:0 auto;
    text-align:center;
    padding:10px;
    border-radius:10px;
    border:1px solid deepskyblue;
    color:chartreuse;
    background-color:rgba(40,50,60,1);
    height:120px;
    margin-bottom:10px;
}
.information-contact {
    color:white;
}
.price-option {
    margin:0px; width:100%; box-sizing:border-box;
    border:1px solid rgba(0,0,0,0.2);
    BORDER-RADIUS:10PX;
    padding:5px;
    text-align:center;
    background-color: white;
}
.price-option h3 {
    font-size:100%;
    margin-top:10px;
    
}
.bestvalue {
    background-color:mediumblue;
    width:auto;
    height:auto;
    padding-top:10px;
    
}
.step h3 {
    font-size:100%;
    margin-top:10px;
    letter-spacing: 1px;
    
}
.dev {
    padding:10px;
    
}
.price-price {
    background-color:rgba(0,0,0,0.1);
    width:100%;
    height:auto;
    border-radius:10px;
    padding:2px;
    color:black;
    text-shadow:none;
}

.common {
    border:6px solid mediumblue;
    border-top:none;
    margin-top:15px;
    border-radius:0 0 10px 10px;
}
.price-option ul li {
    text-align:left;
}
.new {
    font-weight:bold;
    color:blue;
}
a {
	color:inherit;
	text-decoration:inherit;
}
.a720 {
    height:auto;
}
.container {
	width:80%;
	text-align: center;
	margin:0 auto;
}
.open-page {
	padding-top:100px;
	animation:slideup 5s;
	animation-timing-function: ease-in-out;
}
@keyframes slideup {
	0% {
		padding-top:20%;
	}
	70% {
		padding-top:20%;
	}
	100% {
		padding-top:100px;
	}
}
@media screen and (max-width: 800px) {
    .open-page{
        animation-name: none !important;
        visibility: visible !important;
    }
}
#signature {
	padding:2px;
	animation:floatin 3s;
	animation-timing-function:ease-in-out;
	background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0.6) 50%, rgba(255,255,255,0) 100%);
}
#hidebackbutton {
    display:none;
    visibility:hidden;
}
.single3 {
    height:720px;
        width:80%;
        margin:0 auto;
}
      
@media screen and (max-width: 800px) {
    .single2 {
        height:210px;
    }
    .single {
        height:auto;
    }
    .single3 {
        height:200px;
        width:100%;
        margin:0 auto;
    }
}
.ivory {
    height:200px;
}
#signature p {
	margin-bottom:0px;
	padding-top:10px;
	font-size:70%;
}
.portfolio-title {
	background-color:white;
	background: linear-gradient(90deg, rgba(0,0,255,0) 0%, rgba(170,255,170,1) 50%, rgba(0,0,255,0) 100%);
	padding:10px;
	padding-bottom:1px;
}
.single{width:80%;
    margin:0 auto;}
.single2{width:85%;
    margin:0 auto;}
.experience-title {
	background-color:white;
	background: linear-gradient(90deg, rgba(0,255,0,0) 0%, rgba(170,255,170,1) 50%, rgba(0,255,0,0) 100%);
	padding:10px;
	padding-bottom:1px;
}
.contact-title {
	background-color:white;
	background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%);
	padding:10px;
	padding-bottom:10px;
}
@keyframes floatin {
	0% {
		transform: scale3d(0.01,1,0.1);
		letter-spacing: 1px;
		opacity:0;
	}
	30% {
		transform: scale3d(1,1.2,1.2);
		letter-spacing: 20px;
		opacity:0.4;
	}
	100% {
		transform: scale3d(1,1,1);
		letter-spacing: 7px;
		opacity:1;
	}
}
#profile-picture img {
	width:130px;
	height:140px;
	margin:0 auto;
	border-radius:50%;
	opacity:1;
	animation:coin 3.5s;
	animation-timing-function: ease-in;
}
@keyframes coin {
	0% {
		transform: rotateX(90deg) rotateY(90deg) translateY(500px) scale(0.01);
		opacity:0;
	}
	40% {
		transform: rotateX(90deg) rotateY(90deg) translateY(500px) scale(0.3);
		opacity:0.4;
	}
	100% {
		transform: rotateX(0deg) rotateY(0deg) translateY(0px) scale(1);
		opacity:1;
	}
}
#quicklinks-box {
	width:100%;
	padding-bottom:40px;
    padding:20px;
    
	padding-right:0px;
    height:300px;
	margin:0 auto;
	display:flex;
	overflow:hidden;
	border-top:1px solid rgba(230,250,255,0);
	border-left:1px solid rgba(230,250,255,0);
	border-right:1px solid rgba(230,250,255,0);
	border-bottom:1px solid rgba(230,250,255,0);
	border-radius:20px 20px 20px 20px;
    
	animation:topborder 7s;
	animation-timing-function:linear;
}
@media screen and (max-width: 800px) {
    #quicklinks-box{
        animation-name: none !important;
        visibility: visible !important;
    }
}
@keyframes topborder {
	0% {
        opacity:0;
		width:0;
		height:0;
        border:1px solid rgba(230,250,255,1);
		border-radius:0;
		border-bottom:0;
	}
	65% {
        opacity:0;
		width:0;
		height:0;
        border:1px solid rgba(230,250,255,1);
		border-radius:50% 70% 50% 50%;
		border-bottom:0;
	}
	75% {
        opacity:1;
		width:95%;
		height:200px;
        border:1px solid rgba(230,250,255,1);
		border-radius:50% 50% 50% 50%;
		border-bottom:0;
	}
	100% {
        opacity:1;
		width:100%;
		height:300px;
        border:1px solid rgba(230,250,255,0.0);
		border-radius:20px 20px 20px 20px;
		border-bottom:0;
	}
}
.hidebig {
    display:none;
}
.metal {
    background-image:url(images/metal.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    padding:30px;
}
.metalm {
    background-image:url(images/working.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    padding:30px;
	height:260px;
    
}.phptilla {
    width:80%;
    margin:0 auto;
    float:none;
}
.first {
    margin-top:140px;
}
.quicklink {
	width:100%;
	margin:auto 0;
	padding:10px;
	padding-top:0;
	float:left;
	height:200px;
	color:rgba(230,250,255);
    background-color:rgba(0,0,0,0.4);
    border-radius:20px;
    
}
.second {
    margin:10px 5% 0 5%;
}
.quicklink img {
	opacity:0.7;
	transition:opacity 1s;
	transition:width 1s;
}
.quicklink img:hover {
	opacity:1;
	width:100%;
}
@media screen and (max-width: 800px) {
    .wow{
        animation-name: none !important;
        visibility: visible !important;
    }
}
.one {
	animation:opacityoption 4s;
    animation-delay: 8s;
	animation-timing-function: ease-in-out;
}

.onea {
	animation:opacityoption2 8s;
	animation-timing-function: ease-in-out;
}
.oneb {
	animation:opacityoption2 10s;
	animation-timing-function: ease-in-out;
}
.onec {
	animation:opacityoption2 9s;
	animation-timing-function: ease-in-out;
}
.two {
	animation:opacityoption 3s;
    animation-delay: 8s;
	animation-timing-function: ease-in-out;
}
.two2 {
	animation:opacityoption2 9s;
	animation-timing-function: ease-in-out;
}
.quicklink.two {
	border:none;
}
.three {
	
	animation:opacityoption 4s;
    animation-delay: 8s;
	animation-timing-function: ease-in-out;
}

@keyframes opacityoption {
	0% {
		opacity:0;
        margin-top:80px;
	}
	30% {
		opacity:0;
        margin-top:80px;
	}
	100% {
		opacity:1;
        margin-top:15px;
	}
}
@keyframes opacityoption2 {
	0% {
		opacity:0;
	}
	85% {
		opacity:0;
	}
	100% {
		opacity:1;
	}
}
.intro-text h1{
	opacity:0.7;
	padding-top:13vh;
}
.navbar {
	background-color:rgba(0,0,0,1);
	overflow: hidden;
	width:100%;
	margin:0 auto;
	position:fixed;
}
div.navbar {
	text-align: center;
}
.articles {
	display:flex;
}
/* ---NAVIGATION------------------------------------------------ */
.navbar a {
	display: inline-block;
	text-align: center;
	padding: 0px 16px 16px 16px;
	text-decoration: none;
	font-size: 19px;
    margin-top:-10px;
    font-weight:bold;
}
.navbar {
	z-index:10000;
	border:none;
    background-color:rgba(40,50,60,1);
    height:50px;
    padding:0;
    padding-top:5px;
    padding-bottom:20px;
    width:100%;
    border:none;
}
/*----------PORTFOLIO-----------------------------------------------------------*/
.project-container {
}
#myTopnav ul li {
	list-style: none;
	display:inline;
	color: rgb(108,48,66);
	transition:letter-spacing 0.5s;
}
.nav {
	list-style: none;
	display:inline;
	width:100%;
}
.navbar {
    width:100%;
    max-width:100%;
    position:relative;
    height:93px;
    border:none;
}
#myTopnav {
    width:100%;
    padding-top:20px;
    margin-top:-13px;
    border-radius:0;
    border:none;
}
#myTopnav ul li a:hover {
	color:deepskyblue; 

}
#myTopnav ul li:hover {
	letter-spacing: 20px;
	color:deepskyblue;
}
#myTopnav ul li.active {
	letter-spacing: 10px;
	color: rgb(75,245,141);
}
$container-shadow: 0.5rem 0.5rem 2rem 0 rgba(black, 0.2);

$gutter: 30px;
$border-width: 4px;
$dot-diameter: 8px;




.timeline {
  width: 100%;
  max-width: 800px;
  background: #fff;
  padding: 100px 50px;
  position: relative;
  box-shadow: 0.5rem 0.5rem 2rem 0 rgba(0, 0, 0, 0.2);
}
.timeline:after {
  content: "";
  display: table;
  clear: both;
}
.entry {
  clear: both;
  text-align: left;
  position: relative;
}
.entry .title {
  margin-bottom: 0.5em;
  float: left;
  width: 33%;
  padding-right: 30px;
  text-align: right;
  position: relative;
}
.entry .title:before {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  border: 4px solid salmon;
  background-color: #fff;
  border-radius: 100%;
  top: 15%;
  right: -8px;
  z-index: 99;
}
.entry .title h3 {
  margin: 0;
  font-size: 120%;
}
.entry .title p {
  margin: 0;
  font-size: 100%;
}
.entry .body {
  margin: 0 0 3em;
  float: right;
  width: 66%;
  padding-left: 30px;
}
.entry .body p {
  line-height: 1.4em;
}
.entry .body p:first-child {
  margin-top: 0;
  font-weight: 400;
}
.entry .body ul {
  color: #aaa;
  padding-left: 0;
  list-style-type: none;
}
.entry .body ul li:before {
  content: "–";
  margin-right: 0.5em;
}


#money-manager {
    color:white;
    width:100%;
    height:auto;
    margin:0 auto;
    min-height:600px;
    
}
#income {
    width:30%;
    background-color:forestgreen;
    margin:0 auto;
    margin-bottom:10px;
    border-radius:5px;
}
#income h4 {
    margin-right:30px;
    display:inline-block;
    padding-top:7px;
}
#expenses {
    width:30%;
    background-color:red;
    border-radius:5px;
    margin:0 auto;
}
#expenses h4 {
    margin-right:30px;
    display:inline-block;
    padding-top:7px;
    margin-bottom:5px;
}
.moneyss, .para {
    display:inline-block;
}
.para {
    font-size:150%;
}
#transactions {
    width:80%;
    margin:0 auto;
}
#transactions select {
background-color:black;
padding:10px;
    border:1px solid deepskyblue;
    border-radius:5px;
}
#transactions input {
    background-color:black;
    padding:10px;
    border:1px solid deepskyblue;
    border-radius:5px;
}
#transactions input:placeholder {
    color:white;
}
#transactions button {
    background-color:chartreuse;
    border:1px solid white;
    border-radius:5px;
    padding:10px;
    color:black; 
}
#income-list table {
    width:95%;
    padding:0 10px 0 10px;
}
#income-list tr th {
    min-width:5%;
}
#income-list tr td {
    text-align:left;
    padding:5px;
    min-width:5%;
}
#expense-list table {
    width:95%;
    padding:0 10px 0 10px;
}
#expense-list tr th {
    min-width:5%;
}
#expense-list tr td {
    text-align:left;
    padding:5px;
    min-width:5%;
}
/*---EXPERIENCE----------------------------------------------------------------*/

#portfolio-intro {
	padding:30px;
}
.panel-text {
    width:80%;
    margin:0 auto;
    margin-top:10px;
    border-left:1px solid rgba(100,100,100,0.1);
}
.project-card img {
	border:1px solid grey;
}
.project-view {
	width:100%;
	line-height:50px;
	font-weight:normal;
	font-size:120%;
	color:white;
	background-color:rgba(0,50,196,0.5);
	border:1px solid rgba(255,255,255,0.6);
	border-radius:10px;
	margin-bottom:10px;
	transition:line-height 0.5s, background-color 0.5s, font-weight 0.6s;
}
.project-view:hover {
	line-height:70px;
	font-weight:bold;
	background-color:deepskyblue;
}
.project-container {
	display:block;
	margin:10px;
	margin-top:0px;
	text-shadow: none;
	color:white;
	letter-spacing: 1.5px;
	line-height:30px;
	width:78%;
	float:left;
	padding:10px;
	height:106%;
	overflow-y:scroll;
	background-color:rgba(0,0,0,0.8);
}
.collapse.show {
	visibility: visible;
}
/*
#tab1,#tab2,#tab3,#tab4, #tab5 {
	width:100%;
	height:110%;
	margin-bottom:20px;
	background-image:url("images/background.jpg");
	background-repeat: no-repeat;
	background-position:0% 0%;
	background-size: 100vw 100vh;
	background-attachment: scroll;
}
*/
.tab-content {
    height:auto;
	padding-bottom: 0;
    border:2px solid white;
}
.tab-pane {
    border:2px solid white;
}
#project-one {
	width:100%;
	height:98%;
	padding:10px;
	letter-spacing: 2px;
	line-height:30px;
	font-weight:normal;
	text-shadow: none;
	color:white;
	background-color:rgba(0,0,0,0.7);
	border:1px solid rgba(255,255,255,0.6);
	border-radius:10px;
	margin-top:0px;
	margin-bottom:10px;
}
#project-two {
	display:BLOCK;
	width:100%;
	padding:10px;
	letter-spacing: 2px;
	line-height:30px;
	font-weight:normal;
	text-shadow: none;
	color:white;
	background-color:rgba(0,0,0,0.7);
	border:1px solid rgba(255,255,255,0.6);
	border-radius:10px;
	margin-top:20px;
	margin-bottom:10px;
}
#project-three {
	display:BLOCK;
	width:100%;
	padding:10px;
	letter-spacing: 2px;
	line-height:30px;
	font-weight:normal;
	text-shadow: none;
	color:white;
	background-color:rgba(0,0,0,0.7);
	border:1px solid rgba(255,255,255,0.6);
	border-radius:10px;
	margin-top:20px;
	margin-bottom:10px;
}
#project-four {
	display:none;
}
#home-links {
	width:100%;
	padding:10px;
	display:flex;
	flex-direction:column;
}
.home-link {
	width:80%;
	padding:15px;
	margin:0 auto;
	margin-top:15px;
	border:1px solid rgba(100,100,150,0.5);
	border-radius:10px;
	background-color:rgba(0,0,0,0.5);
	color:white;
	font-weight:bold;
	letter-spacing: 5px;
	transition: width 0.5s, color 0.2s, background-color 0.5s, letter-spacing 0.4s;
}
.home-link:hover {
	width:100%;
	color:white;
	background-color:rgbA(168,58,126,0.6);
	letter-spacing:14px;
}
.home-text {
	letter-spacing:4px;
	text-shadow:none;
	line-height:30px;
	font-size:115%;
}
#port-link {
	color:rgba(200,100,100,1);
	padding:20px;
	transition:color 0.5s, font-size 0.5s;
}
#port-link:hover {
	color:deepskyblue;
	font-size:120%;
}
.dtimg {
	width:60%;
}
.sdtimg {
	width:30%;
}
.pimg {
	width:20%;
}
/*---EXPERIENCE----------------------------------------------------------------
#experience-flex {
	display:flex;
}
#skills {
	background-color:rgb(0,0,0,0.8);
	text-shadow: none;
	color:white;
	padding:20px;
	float:left;
	width:40vw;
	margin:0vw 1.25vw 2vw 2.5vw;
	font-weight:bold;
}
.progress-bar {
	width:100%;
	height:20px;
	border-radius:5x;
	background-color:dimgrey;
	margin-top:15px;
	margin-bottom:0;
}
.progress {
	height:19px;
	background-color:limegreen;
	font-size: 80%;
	padding:1px;
}
table {
	width:100%;
}
th {
	font-size:80%;
}
th {
	padding:10px;
	border-bottom:1px solid white;
}
td {
	padding:0px;
	border-bottom:1px solid grey;
}
tr:hover {
	background-color: black;
}
h3 {
	margin:0;
}
h5 {
	margin:15px;
}
#qualifications {
	/* background-color:rgb(0,0,0,0.8);
	
	text-shadow: none;
	color:white;
	padding:0px;
	float:left;
	width:60vw;
	margin:0vw 2vw 2vw 1.25vw;
	font-weight:bold;
	display:flex;
	flex-direction: column;
	color:black;
}
#qual-flex {
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	height:50%;
}
.qualification {
	background-color:rgb(0,0,0,0.8);
	text-shadow: none;
	color:white;
	padding:0px;
	float:left;
	width:30%;
	height:92%;
	margin:10px;
	;
	font-weight:bold;
}
article {
	word-wrap: break-word;
}
.qualification table {
	margin:5%;
	width:90%;
}
.qualification td {
	font-size:120%;
	color:chartreuse;
}
.qualification p {
	font-size:60%;
	text-align: left;
	color:white;
}
.tooltip {
	position:relative;
}
.tooltip {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black;
}
.tooltip .tooltiptext {
	visibility: hidden;
	width: 350px;
	background-color: black;
	color: chartreuse;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	position: absolute;
	z-index: 1;
	bottom: 100%;
	left: 50%;
	margin-left: -275px;
	margin-bottom:-40px;
	font-size:60%;
	/* Fade in tooltip - takes 1 second to go from 0% to 100% opac: 
	opacity: 0;
	transition: opacity 2.5s;
}
.tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}
.tooltiptext a {
	color:white;
}
.tooltiptext a:hover {
	color:deepskyblue;
}
/*---CONTACT-----------------------------------------------------------------
.page4-wrapper {
	width:100vw;
	background-image:url("images/newback.jpg");
	background-position:0% 0%;
	background-size: 100vw 100vh;
	background-repeat:repeat-y;
	text-shadow: -3px 3px #fff;
	color:rgb(0,0,0);
	text-align: center;
	padding-top:0px;
}
.contact-page {
	clear:both;
}
.contact-form {
	background-color:rgb(0,0,0,0.8);
	text-shadow: none;
	color:black;
	padding:20px;
	float:none;
	margin:0 auto;
	font-weight:bold;
	font-size:18px;
}
.contact-form label {
	color:white;
}
.form-group {
	margin:10px;
	/* border:2px solid white;
	
}
.input {
	margin:10px;
	width:60%;
	height:30px;
	font-size:150%;
	padding:20px;
	color:black;
	border-radius:10px;
}
.input-group {
	float:left;
	width:50%;
	font-size:60%;
}
#submit-form {
	width:25%;
	padding:10px;
	border-radius:10px;
	background-color:rgb(0,0,50);
	border:1px solid black;
	font-size:100%;
	color:white;
	transition:width 1s, font-size 1s, color 1s, background-color 1s;
}
#submit-form:hover {
	width:100%;
	color:white;
	font-size:140%;
	background-color:deepskyblue;
} */
.find-us {
    background-image:linear-gradient(to bottom, white, rgba(40,50,60,1));
    width:94%;
    margin-left:30px;
    
}
/*
.information-contact {
	letter-spacing: 4px;
	line-height: 25px;
	font-weight:normal;
	margin:10px;
	margin-top:5px;
}
.map-flex {
	flex-grow:2;
	margin-bottom:8px;
}
/*-----FOOTER----------------------------------------------------------------*/
.contact-form {
    width:100%;
    text-align:center;
    padding:30px;
}
.form-group {
    width:50%;
    margin:0 auto;
    height:auto;
    color:black;
    margin-bottom:20px;
}
.form-group input {
    width:100%;
    padding:10px;
    color:black;
    border-radius:5px;
}
.form-group textarea {
    width:100%;
    max-width:800px;
    padding:10px;
    color:black;
    border-radius:5px;
}

.radio-flex {
	display:flex;
	flex-direction:row;
}
.input-group {
    width:33%;
}
.howdidyoufind {
    width:60%;
}
#submit-form {
	width:25%;
	padding:10px;
	border-radius:10px;
	background-color:rgb(0,0,50);
	border:1px solid black;
	font-size:100%;
	color:white;
	transition:width 1s, font-size 1s, color 1s, background-color 1s;
}
footer {
	height:auto;
	padding:1px;
	background-image:url(images/background2.jpg);
	background-repeat:repeat-x;
	color:black;
	width:100%;
	text-align: center;
}
.home-text {
    font-size:16px;
}
#footer {
	width:100%;
	padding:50px;
	padding-top:20px;
	height:auto;
	letter-spacing:3px;
	background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%);
    border:2px solid black;
}
#maps {
    width:80%;
}
.fade {opacity:0.04;
transition:opacity 2.5s;
transition-timing-function: ease-in-out;}
.fade:active {opacity:1;}

#backtotop {
	width:90%;
	padding:8px;
	background-color:deepskyblue;
	letter-spacing:8px;
	color:white;
	text-decoration: none;
	border-radius:5px;
	margin:0 auto;
	margin-top:30px;
	transition: width 1s, background-color 1s, letter-spacing 1s;
}


#backtotop:hover {
	width:90%;
	background-color:rgb(20,100,155);
	letter-spacing:12px;
	text-decoration: none;
}

textarea {
	width:100%;
	margin:0;
	color:black;
	padding:10px;
	border-radius:10px;
}
#homelink {
	display:block
}
.radio-flex {
	display:flex;
	flex-direction:row;
}

.navbar a.icon {
	display:none;
}
@media only screen and (max-width: 1300px) {
	.quicklink {
		font-size:80%;
		margin-top:0;
		margin-left:1px;
		margin-right:1px;
		width:90%;
		background-color:rgb(0,0,0,0.5);
		padding:10px;
		border-radius:10px;
		border:1px solid rgba(255,255,255,0.6);
	}
}
@media only screen and (max-width: 1230px) {
	.quicklink {
		font-size:70%;
	}
}
@media only screen and (max-width: 1155px) {
	.quicklink {
		font-size:70%;
		height:auto;
	}
	.home-link {
		width:100%;
	}
}
@media only screen and (max-width: 1135px) {
	.home-text {
		line-height:27px;
	}
    .hider {display:none;}
    .quicklink {
        border:none;
    }
}
@media only screen and (max-width: 1097px) {
	#qualifications {
		height:auto;
		width:100vw;
		margin:0;
		padding:0;
	}
	.qual-flex {
		width:100vw;
		height:auto;
		flex-direction: column;
		margin:0;
		padding:0;
	}
	.qualification {
		width:100%;
		height:auto;
		padding-bottom:20px;
	}
	.page4-wrapper {
		width:100vw;
		height:auto;
		background-repeat:repeat-y;
		background-position:center;
	}
	.container {
		height:auto;
	}
	#experience {
		height:auto;
	}
	#experience-flex {
		flex-direction: column;
		height:auto;
	}
	#skills {
		width:100vw;
		height:auto;
		overflow:scroll;
	}
	table {
		100vw;
		overflow:scroll;
	}
	.project-container {
		width:100%;
	}
	aside#aside {
		width:50%;
		margin:0 auto;
		float:none;
		margin-bottom:20px;
	}
}
.third {
    margin:0 15px 0 15px
}
.showonphone {
    display:none;
}
.hideonphone {
    display:block;
}
@media only screen and (max-width: 1100px) {
    body {
        width:100vw;
    }
    .project-card a img {
        display:none;
    }
    .tab-pane div h1 {
        color:white;
        
    }
    .container-fluid, .container, .row, .panel, .panel-main, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8 {
        width:100%;
        margin-left:0;
        margin-right:0;
        padding-left:1px;
        padding-right:1px;
        height:auto;
        max-height:7000px;
    } 
}
@media only screen and (max-width: 900px) {
    body {
        width:100vw;
    }
    .container-fluid, .container, .row, .panel, .panel-main, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8 {
        width:100%;
        margin-left:0;
        margin-right:0;
        padding-left:1px;
        padding-right:1px;
        height:auto;
        max-height:7000px;
    } 
    .home-link.onea {
        display:none;
    }
    .row {
        padding:10px;
    }
    #backtotop {
        width:90%;
        padding:7px;
        font-size:80%;
    }
    .second {
        margin:0 0 0 0;
        width:100%;
    }
    .third {
        margin:0 0 0 0;
    }
    .form-group {
width:100%;}
    .contact-form form {
        margin-top:1000px;
    }
    .metal, .metalm {
        background-image:none;
    }
    .find-us.col-md-12 {
        margin:0 0 0 0;
        width:100%;
    }
    row {
        padding-left:1px;
        padding-right:1px;
    }
    #maps {
    width:100%;
}
    
.howdidyoufind {
    width:100%;
}
    .showonphone {
    display:block;
}
.hideonphone {
    display:none;
}
}
